<div class="container">

    <div class="ui-g-12">
      <h1 class="text-center"><b>Funcionários</b></h1>
    </div>
    <div class="ui-g-12">
        <button class="btn btn-success" (click)="abrirDialogNovoFuncionario()">
           Novo <i class="fa fa-plus"></i></button>
    </div>
    <div class="ui-g-12">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input #fa type="text" pInputText size="20" placeholder="Busca..." maxlength="10">
          </div>
        <p-dataTable [value]="funcionarios" [paginator]="true" [rows]="8"
        [responsive]="true" emptyMessage="Nenhum Funcionário Encontrado..." [globalFilter]="fa"
        [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
        <p-column styleClass="tabela-produto-acao" header="Ações">
            <ng-template pTemplate="body" let-fu="rowData">
                <button class="btn btn-warning" (click)="abrirDialogEditarFuncionario(fu)">
                  <i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger" (click)="confirmarExclusao(fu.id)"
                  style="margin-top: 3px;"><i class="fa fa-trash"></i></button>
            </ng-template>
          </p-column>
        <p-column field="nome" header="Funcionário"></p-column>
        <p-column field="telefone" header="Contato" styleClass="tabela-cliente-contato"></p-column>
        <p-column field="email" header="E-mail" ></p-column>
        <p-column field="cidade" header="Cidade" styleClass="tabela-cliente-cidade"></p-column>
        <p-column field="uf" header="UF" styleClass="tabela-cliente-acao"></p-column>
        </p-dataTable>

    </div>
  </div>
  <p-dialog header="Cadastro Novo Funcionário" [(visible)]="dialogNovoFuncionario"
  [responsive]="true" showEffect="fade" [modal]="true" [closable]="true"
  width="600" [draggable]="false">
  <div class="container">
    <form #funcionario="ngForm">
          <div class="ui-g-9 ui-fluid">
              <label><b>Funcionário</b></label>
              <input pInputText type="text" name="nome" required
              [(ngModel)]="novoFuncionario.nome" minlength="5" maxlength="50" #nomeFuncionario>
           </div>

          <div class="ui-g-5 ui-fluid">
              <label><b>Telefone</b></label>
              <p-inputMask mask="(99)99999-9999" type="text" name="telefone"
              [(ngModel)]="novoFuncionario.telefone" minlength="11" maxlength="14" #telefoneFuncionario></p-inputMask>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>E-mail</b></label>
              <input pInputText type="text" name="email" required
              [(ngModel)]="novoFuncionario.email" minlength="5" maxlength="50" #emailFuncionario>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>RG</b></label>
              <p-inputMask mask="99.999.999-9" type="text" name="rg"
              [(ngModel)]="novoFuncionario.rg" minlength="12" maxlength="12" #rgFuncionario></p-inputMask>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>CPF</b></label>
              <p-inputMask mask="999.999.999-99" type="text" name="cpf"
              [(ngModel)]="novoFuncionario.cpf" minlength="14" maxlength="14" #cpfFuncionario></p-inputMask>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>CEP</b></label>
              <p-inputMask mask="99999-999" name="cepResidencial"
              [(ngModel)]="novoFuncionario.cep" #cepFuncionario></p-inputMask>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>Endereço</b></label>
              <input pInputText type="text" name="endereco" required
              [(ngModel)]="novoFuncionario.endereco" minlength="5" maxlength="50" #enderecoFuncionario>
           </div>

           <div class="ui-g-3 ui-fluid">
              <label><b>Número</b></label>
              <input pInputText type="text" name="numero" required
              [(ngModel)]="novoFuncionario.numero" minlength="1" maxlength="5" #numeroFuncionario>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>Bairro</b></label>
              <input pInputText type="text" name="bairro" required
              [(ngModel)]="novoFuncionario.bairro" minlength="5" maxlength="50" #bairroFuncionario>
           </div>

           <div class="ui-g-6 ui-fluid">
              <label><b>Cidade</b></label>
              <input pInputText type="text" name="cidade" required
              [(ngModel)]="novoFuncionario.cidade" minlength="5" maxlength="40" #cidadeFuncionario>
           </div>
           <div class="ui-sm-3 ui-md-3 ui-g-2 ui-fluid">
              <label><b>UF</b></label>
              <input pInputText type="text" name="uf" required
              [(ngModel)]="novoFuncionario.uf" minlength="2" maxlength="2" #ufFuncionario>
           </div>
          </form>
           <div class="ui-sm-12 ui-md-4 ui-g-6">
             <button class="btn btn-success"
             (click)="salvarFuncionario()" [disabled]="funcionario.invalid">
             <i class="fa fa-check"></i> Salvar</button>
           </div>

           <div class="ui-sm-12 ui-md-4 ui-g-6">
               <button class="btn btn-warning"
               (click)="fechar()">
                 <i class="fa fa-times"></i> Cancelar</button>
             </div>
    </div>
  </p-dialog>

  <p-dialog header="Atualizar Funcionário" [(visible)]="dialogEditarfuncionario"
  [responsive]="true" showEffect="fade" [modal]="true" [closable]="true"
  width="600" [draggable]="false">
  <div class="container">
    <form #funcionario="ngForm">
    <div *ngIf="selecionadoFuncionario">
          <div class="ui-g-9 ui-fluid">
              <label><b>Funcionário</b></label>
              <input pInputText type="text" name="nome" required
              [(ngModel)]="selecionadoFuncionario.nome" minlength="5" maxlength="50" #nomeFuncionario>
           </div>

          <div class="ui-g-5 ui-fluid">
              <label><b>Telefone</b></label>
              <p-inputMask mask="(99)99999-9999" type="text" name="telefone" required
              [(ngModel)]="selecionadoFuncionario.telefone" minlength="5" maxlength="50" #telefoneFuncionario></p-inputMask>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>E-mail</b></label>
              <input pInputText type="text" name="email" required
              [(ngModel)]="selecionadoFuncionario.email" minlength="5" maxlength="50" #emailFuncionario>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>RG</b></label>
              <p-inputMask mask="99.999.999-9" type="text" name="rg" required
              [(ngModel)]="selecionadoFuncionario.rg" minlength="12" maxlength="12" #rgFuncionario></p-inputMask>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>CPF</b></label>
              <p-inputMask mask="999.999.999-99" type="text" name="cpf" required
              [(ngModel)]="selecionadoFuncionario.cpf" minlength="14" maxlength="14" #cpfFuncionario></p-inputMask>
           </div>

           <div class="ui-g-5 ui-fluid">
              <label><b>CEP</b></label>
              <p-inputMask mask="99.999-999" name="cepResidencial" required
              [(ngModel)]="selecionadoFuncionario.cep" #cepFuncionario></p-inputMask>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>Endereço</b></label>
              <input pInputText type="text" name="endereco" required
              [(ngModel)]="selecionadoFuncionario.endereco" minlength="5" maxlength="50" #enderecoFuncionario>
           </div>

           <div class="ui-g-3 ui-fluid">
              <label><b>Número</b></label>
              <input pInputText type="text" name="numero" required
              [(ngModel)]="selecionadoFuncionario.numero" minlength="11" maxlength="14" #numeroFuncionario>
           </div>

           <div class="ui-g-9 ui-fluid">
              <label><b>Bairro</b></label>
              <input pInputText type="text" name="bairro" required
              [(ngModel)]="selecionadoFuncionario.bairro" minlength="5" maxlength="50" #bairroFuncionario>
           </div>

           <div class="ui-g-6 ui-fluid">
              <label><b>Cidade</b></label>
              <input pInputText type="text" name="cidade" required
              [(ngModel)]="selecionadoFuncionario.cidade" minlength="5" maxlength="40" #cidadeFuncionario>
           </div>
           <div class="ui-sm-3 ui-md-3 ui-g-2 ui-fluid">
              <label><b>UF</b></label>
              <input pInputText type="text" name="uf" required
              [(ngModel)]="selecionadoFuncionario.uf" minlength="2" maxlength="2" #ufFuncionario>
           </div>
          </div>
    </form>
           <div class="ui-sm-12 ui-md-5 ui-g-6">
             <button class="btn btn-success" [disabled]="funcionario.valid"
             (click)="atualizaFuncionario()">
             <i class="fa fa-retweet"></i> Atualizar e Fechar</button>
           </div>

           <div class="ui-sm-12 ui-md-4 ui-g-6">
               <button class="btn btn-warning"
               (click)="fechar()">
                 <i class="fa fa-times"></i> Cancelar</button>
             </div>
    </div>
  </p-dialog>
